body {
overflow-x: hidden;
}


.container_body{
  background-image:linear-gradient(rgba(28, 24, 24, 0.7), rgba(81, 81, 81, 0.7)), url("../Image/bus-station.jpeg");
  background-size:cover;
  background-repeat:no-repeat;
  padding:12.5% 10%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

.item_intro  {
  list-style-type: none;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.item_intro > li {
  margin-left: 5px;
  border : 3px solid #150700;
  padding : 5px;
  color : white

}

.feature {
  list-style-type: square;
  display: flex;
  flex-direction:column;
  justify-content: space-between;

  background-color: #FFF3EE;
  box-shadow: 1px 1px 4px #050100
}

.feature > li {
  margin-left: 5px;
  font-size: 20px;
  padding : 10px;


}

.welcome_message {
  color: #76FF12;
  font-family: MV Boli;
}

.btn_book {
  background-color: #0077B8;
  padding: 10px 20px;
  color : white;

}
.btn_book:hover{
  text-decoration: none;
}


.container_body > h1 , .container_body > h6  {

  text-align:center;
  margin-bottom:25px;
}
.container_body > h6{
  color : white
}

.banner_1_1, .banner_1_2, .footer{
  padding : 5% 13%
}

.booking_home{
  background-color: #FFF3EE;
  box-shadow: 1px 1px 4px #050100;
  padding : 5% ;
}
.banner1_image{
  width: 30%
}
.banner1_image_small{
  width : 40%
}
.banner1_image_big{
  width : 60%
}
.footer_item {
  font-style: italic;
  margin-left: 15px
}
.base-form {
  background-color:rgba(222, 218, 217, 0.72);
  padding:1% 2% 2%;
  border-radius:10px;
  margin:0 10%;
}
.footer {
  color : white;
  background-color: black;

}

@media (min-width: 300px) {
  .form-wrapper {
    display:flex;
    flex-direction:column;
  }
}

@media (min-width: 576px) {
  .form-wrapper {
    display:flex;
    flex-direction:row;
  }
}

@media (min-width: 300px) {
  .item-group {
    margin-right:1%;
    margin-bottom:10%;
  }
}

@media (min-width: 576px) {
  .item-group {
    width:40%;
    margin:1%;
  }
}

@media (min-width: 576px) {
  .detail-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:space-around;
    justify-content:center;
    margin-top:1%;
  }
}

@media (min-width: 768px) {
  .detail-wrapper {
    display:flex;
    flex-direction:row;
    align-items:center;
    align-content:space-around;
    justify-content:center;
    margin-top:2%;
  }
}

.detail-form {
  display:flex;
  flex-direction:column;
  background-color:rgba(23,23,22, 0.89);
  padding:1% 1% 2%;
  margin-right:2%;
  border-radius:3%;
  color:#ffffff;
  margin-bottom:8%;
  max-width: 500px;
  width: 500px;

}

.detail-form-item {
  display:flex;
  justify-content: space-between;
  flex-direction:row;
  padding-bottom:4%;
}

.detail-image-holder {
  display:flex;
  justify-content:center;
  flex-direction:column;
  border:6px solid #111111;
  border-radius:2%;
  background-color:#171717;
  margin-bottom:8%;
}

@media (min-width: 768px) {
  .detail-image-holder {
    width:330px;
    height:300px;
  }
}

@media (min-width: 992px) {
  .detail-image-holder {
    width:500px;
    height:350px;
  }
}

.detail-form-item > div {
  padding:0 1%;
}

.detail-passengers {
  width:80%;
}

.detail-luggage {
  margin-left:5%;
}

.btn-controllers > button {
  margin-top:2%;
}

.detail-header {
  display:flex;
  flex-direction:row;
  margin-top:3%;
  background-color:#485150;
  color:rgb(65,25,25);
  margin-bottom:1%;
}

@media (min-width: 768px) {
  .detail-header {
    max-width:50%;
    margin-bottom:-1%;
  }
}

@media (min-width: 992px) {
  .detail-header {
    max-width:43%;
  }
}

@media (min-width: 1200px) {
  .detail-header {
    max-width:42%;
    margin-left:8%;
  }
}

.detail-header > h4 {
  line-height:19px;
  padding:3px 15px;
  font-size:15px;
  margin-bottom:0;
}

.active-item {
  background-color:#9c711e;
  color:rgb(255,255,255);
}
